<div class="no-data-message" *ngIf="countryData.length === 0">
    <p>No information available for this region</p>
    <p>Region is on world.svg file but not available from World Bank</p>
</div>

<div class="details" *ngIf="countryData.length > 0">
    <h2>Country Information</h2>

    <p>Name: {{ countryData[0].name | titlecase }}</p>
    <p>Capital: {{ countryData[0].capital }}</p>
    <p>Region: {{countryData[0].region }}</p>
    <p>Income Level: {{ countryData[0].incomeLevel }}</p>
    <p>Latitude: {{countryData[0].latitude }}</p>
    <p>Longitude: {{countryData[0].longitude }}</p>
</div>
