<div class="country-data-text" *ngIf="!selectedCountry">
    <h2>Country Information</h2>
    <p>Hover over area on the map</p>
    <cite>Data Source: <a href="https://www.worldbank.org" target="_blank">The World Bank</a>
        &copy; 2024 The World Bank Group
    </cite>
</div>

<div class="no-data-message" *ngIf="countryData.length === 0 && selectedCountry">
    <p>No information available for this region.</p>
    <p>Country is on world.svg file but not available from World Bank.</p>
    <p><a href="https://datahelpdesk.worldbank.org/knowledgebase/articles/191133-why-are-some-data-not-available" target="_blank">Click Here</a> for details from World Bank</p>
    <cite>Data Source: <a href="https://www.worldbank.org" target="_blank">The World Bank</a>
        &copy; 2024 The World Bank Group
    </cite>
</div>

<div class="details" *ngIf="countryData.length > 0">
    <h2>Country Information</h2>

    <p>Name: {{ countryData[0].name | titlecase }}</p>
    <p>Capital: {{ countryData[0].capital }}</p>
    <p>Region: {{countryData[0].region }}</p>
    <p>Income Level: {{ countryData[0].incomeLevel }}</p>
    <p>Latitude: {{countryData[0].latitude }}</p>
    <p>Longitude: {{countryData[0].longitude }}</p>
    <cite>Data Source: <a href="https://www.worldbank.org" target="_blank">The World Bank</a>
        &copy; 2024 The World Bank Group
    </cite>

</div>
